.formBody {
    position: relative;
    top: 150px;
    display: grid;
    justify-items: center;
    grid-template-rows: 50px, 50px, 50px, 50px, 50px;
}

.title {
    grid-row: 1/2;
    font-weight: bold;
    font-size: 30px;
    color: orange;
}

.errors {
    grid-row: 2/3;
    height: 50px;
}

.employeeID-DIV {
    grid-row: 3/4;
    margin: 10px;

}

.passwordDiv {
    grid-row: 4/5;
    margin: 10px;
}

.submit {
    grid-row: 5/6;
}

#submit {
    position: relative;
    top: 7px;

}

.admin {
    grid-row: 5/6;
}

.employee {
    grid-row: 5/6;
}

#submit {
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#submit:hover {
    background-color: orange;
    font-weight: bold;
    border: none;
}

#admin {
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#admin:hover {
    background-color: orange;
    font-weight: bold;
    border: none;
}

#employee {
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

#employee:hover {
    background-color: orange;
    font-weight: bold;
    border: none;
}
