/* .allbody {
    height: 500px;
    background-image: url('ivy_homepage.png');
} */

/* form {
    height: 100%;
} */

.formBodylogin {
    /* position: relative;
    top: 150px; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-items: center;
    grid-template-rows: 50px, 50px, 50px, 50px, 50px, 50px;
    width: 400px;
    margin: auto;
    width: 400px;
    background-color: rgb(255,255,255,0.9);
    border-radius: 15px;
    border: 1px solid black;

}

.imageLogin {
    grid-row: 1/2;
    margin: 10px;
}

.titleLogin {
    grid-row: 2/3;
    font-weight: bold;
    font-size: 30px;
    color: orange;
}

.errorsLogin {
    grid-row: 3/4;
    height: 80px;
}

.employeeID-DIV {
    grid-row: 4/5;
    margin: 10px;

}

.passwordDiv {
    grid-row: 5/6;
    margin: 10px;
}

.submitLogin {
    grid-row: 6/7;
}

/* #submitLogin {
    position: relative;
    top: 7px;

} */

.adminLogin {
    grid-row: 6/7;
}

.employeeLogin {
    grid-row: 6/7;
}

#submitLogin {
    position: relative;
    bottom: 8px;
    background-color: rgb(137, 206, 206);
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    border: 2px solid rgb(0, 0, 73);
    color: rgb(0, 0, 73);
}

#submitLogin:hover {
    background-color: white;
    font-weight: bold;
    border:2px solid orange;
    color: orange;
}

#adminLogin {
    background-color: rgb(137, 206, 206);
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    border: 2px solid rgb(0, 0, 73);
    color: rgb(0, 0, 73);
}

#adminLogin:hover {
    background-color: white;
    font-weight: bold;
    border:2px solid orange;
    color: orange;
}

#employeeLogin {
    background-color: rgb(137, 206, 206);
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    border: 2px solid rgb(0, 0, 73);
    color: rgb(0, 0, 73);
}

#employeeLogin:hover {
    background-color: white;
    font-weight: bold;
    border:2px solid orange;
    color: orange;
}

.buttons {
    height: 80px;
}
