.allbody {
    height: 500px;
    background-image: url('ivy_homepage.png');

}

/* form {
    height: 100%;
} */

.formBody {
    position: relative;
    top: 150px;
    display: grid;
    justify-items: center;
    grid-template-rows: 50px, 50px, 50px, 50px, 50px;
    width: 400px;
    margin: auto;
    width: 400px;
    background-color: rgb(255,255,255,0.9);
    border-radius: 15px;
    border: 1px solid black;

}

.title {
    grid-row: 1/2;
    font-weight: bold;
    font-size: 30px;
    color: orange;
}

.errors {
    grid-row: 2/3;
    height: 80px;
}

.employeeID-DIV {
    grid-row: 3/4;
    margin: 10px;

}

.passwordDiv {
    grid-row: 4/5;
    margin: 10px;
}

.submit {
    grid-row: 5/6;
}

#submit {
    position: relative;
    top: 7px;

}

.admin {
    grid-row: 5/6;
}

.employee {
    grid-row: 5/6;
}

#submit {
    background-color: orange;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

#submit:hover {
    background-color: white;
    font-weight: bold;
    border:2px solid orange;
    color: orange;
}

#admin {
    background-color: orange;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

#admin:hover {
    background-color: white;
    font-weight: bold;
    border:2px solid orange;
    color: orange;
}

#employee {
    background-color: orange;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

#employee:hover {
    background-color: white;
    font-weight: bold;
    border:2px solid orange;
    color: orange;
}

.buttons {
    height: 80px;
}
