body {
    background-color: rgb(1, 1, 34);
}

.suppliers-table-admin {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

#requestForm,#poForm, #itemForm, #supplierForm {
    border-radius: 15px 0 0 0;
    cursor: pointer;
    width: 125px;
    background-color: rgb(180, 180, 240);
    border: 1px solid white;
}

#requestForm:hover, #poForm:hover, #itemForm:hover, #supplierForm:hover {
    background-color:white;
}

.POs4, .requests4, .items4 {
   border-radius: 15px 0 0 0;
   cursor: pointer;
    width: 125px;
    border: 1px solid rgb(180, 180, 240);

}
.suppliers4 {
    background-color: orange;
    border-radius: 15px 0 0 0;
    cursor: pointer;
     width: 125px;
}

.POs4:hover, .requests4:hover, .items4:hover {
  background-color: orange;
 }

#POs, #requests, #items {
    text-decoration: none;
   font-weight: bold;
}

.suppliers-table-admin thead tr.labels {
    background-color: rgb(0, 0, 95);
    color: rgb(180, 180, 240);
    font-family: sans-serif;
}

.suppliers-table-admin tbody {
    font-family: sans-serif;
}

.suppliers-table-admin td {
    padding: 12px 15px;
}

.suppliers-table-admin td.header {
    padding: 1px 1px;;
}

.suppliers-table-admin tbody tr:nth-of-type(even) {
    background-color: rgb(180, 180, 240);
    color:  rgb(0, 0, 95);
}

.suppliers-table-admin tbody tr:nth-of-type(odd) {
    background-color:rgb(76, 76, 109);
    color:  rgb(180, 180, 240);
}

.suppliers-table-admin thead tr td.header {
    background-color: rgb(1, 1, 46);
}

.suppliers-table-admin tbody tr:hover {
    background-color: white;
    color: black;
}
