.modalContainerEditItem {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    border-radius: 60px;
    background-color: rgb(180, 180, 240);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 25px;
  }

.formBodyEditItem {
  position: relative;
  top: 4px;
}

.titleEditItem {
  grid-row: 1/2;
  font-size: 25px;
  text-align: center;
  margin: 10px;
  color: rgb(1, 1, 71);
  font-weight: bold;
  /* text-shadow: black 2px 2px; */
  font-family: sans-serif;
  }

.editItemCode, .editItemDes, .editItemType, .editUnitValue,
.editQuantity, .editManufacturer{
    margin: 10px;
  }

  .errors-editItem {
    grid-row: 2/3;
    /* display: flex; */
    height: auto;
    /* background-color: rgb(1, 59, 1); */
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
  }

  .editItemCode {
    grid-row: 3/4;
  /* background-color: rgb(1, 59, 1); */
   color: rgb(1, 1, 71);
   font-weight: bold;
   font-family: sans-serif;
  }


.editItemDes {
  grid-row: 4/5;
  /* background-color: rgb(1, 59, 1); */
  color: rgb(1, 1, 71);
  font-weight: bold;
  font-family: sans-serif;
}


.editItemType {
  grid-row: 5/6;
  /* background-color: rgb(1, 59, 1); */
  color: rgb(1, 1, 71);
  font-weight: bold;
  font-family: sans-serif;
}

.editUnitValue {
  grid-row: 6/7;
  /* background-color: rgb(1, 59, 1); */
  color: rgb(1, 1, 71);
  font-weight: bold;
  font-family: sans-serif;
}

.editQuantity {
  grid-row: 7/8;
  /* background-color: rgb(1, 59, 1); */
  color: rgb(1, 1, 71);
  font-weight: bold;
  font-family: sans-serif;
}

.editManufacturer {
  grid-row: 8/9;
  /* background-color:rgb(1, 59, 1); */
  color: rgb(1, 1, 71);
  font-weight: bold;
  font-family: sans-serif;
}

.editSupplier {
  grid-row: 9/10;
  /* background-color: rgb(1, 59, 1); */
  color: rgb(1, 1, 71);
  font-weight: bold;
  font-family: sans-serif;
}

.editSubmit {
  text-align: center;
  font-family: sans-serif;
}

#editSubmit {
  background-color: rgb(76, 76, 109);
  width: 80px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(180, 180, 240);
  border:2px solid rgb(180, 180, 240);
  font-weight: bold;
}

#editSubmit:hover{
  background-color: white;
  border: 2px solid orange;
  color: orange;
  font-weight: bold;
  }

  #editCancel {
    background-color: red;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(180, 180, 240);
    border:2px solid red;
    font-weight: bold;
    margin-left: 10px;
  }

  #editCancel:hover {
    background-color: white;
  border: 2px solid red;
  color: red;
  font-weight: bold;
  }
  /* .addNewSupplier button {
    background-color: orange;
    height: 40px;
    border-radius: 20px;
    cursor: pointer
  }

  .addNewSupplier button:hover {
    background-color: white;
    border: 2px solid orange;
    color: orange;
    font-weight: bold;
  } */
