.poformmodalContainer1 {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    border-radius: 30px;
    background-color: rgb(70, 70, 95);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 25px;
  }
  .titleNewPO {
    color: orange;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
  }


  .new-po-form {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(0,0,0,0.50)
  }

  .new-po-form thead tr.labels {
    background-color: rgb(0, 0, 95);
    color: rgb(180, 180, 240);
    font-family: sans-serif;
}

.new-po-form tbody {
  font-family: sans-serif;
}

.new-po-form td {
  padding: 12px 15px;
}


.new-po-form tbody tr:nth-of-type(even) {
  background-color: rgb(180, 180, 240);
  color:  rgb(0, 0, 95);
}

.new-po-form tbody tr:nth-of-type(odd) {
  background-color:rgb(76, 76, 109);
  color:  rgb(180, 180, 240);
}

.error-po-form {
    color: red;
    font-weight: bold;
  }

  #CreatePo {
    background-color: rgb(76, 76, 109);
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(180, 180, 240);
    border:2px solid rgb(180, 180, 240);
    font-weight: bold;
  }

  #CreatePo:hover {
    background-color: white;
    font-weight: bold;
    border:2px solid rgb(0, 0, 95);
    color: rgb(0, 0, 95);
  }

  #CancelPo {
    background-color: red;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(180, 180, 240);
    border:2px solid red;
    font-weight: bold;
    margin-left: 10px;
  }

  #CancelPo:hover {
    background-color: white;
    font-weight: bold;
    border:2px solid red;
    color: red;

  }

  canvas {
    background-color: white;
  }

  #ClearSig {
    background-color: white;
    width: 150px;
    height: 20px;
    /* border-radius: 20px; */
    cursor: pointer;
    color: rgb(6, 6, 131);
    border:2px solid rgb(180, 180, 240);
    font-weight: bold;
  }

  #ClearSig:hover {
    background-color: rgb(0, 0, 95);
    font-weight: bold;
    border:2px solid rgb(0, 0, 95);
    color: white;
  }

  #saveSig {
    background-color: white;
    width: 150px;
    height: 20px;
    /* border-radius: 20px; */
    cursor: pointer;
    color: rgb(6, 6, 131);
    border:2px solid rgb(180, 180, 240);
    font-weight: bold;
  }

  #saveSig:hover {
    background-color: rgb(0, 0, 95);
    font-weight: bold;
    border:2px solid rgb(0, 0, 95);
    color: white;
  }

  #drawSigTitle {
    text-align: center;
    color: white;
  }

  #sigRequired {
    color: red;
    text-align: center;
    font-weight: bold;
  }
