.reqTableContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  border-radius: 30px;
  background-color: rgb(70, 70, 95);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  padding: 25px;
}

.titleReqid {
  color: orange;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

.createdReq {
  color: rgb(180, 180, 240);
  text-align: center;
  font-family: sans-serif;
}

.requestTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 5px 5px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  overflow: hidden;
  box-shadow: 0 20px 30px rgba(0,0,0,0.50)
}

.requestTable thead tr.labels {
  background-color: rgb(0, 0, 95);
  color: rgb(180, 180, 240);
  font-family: sans-serif;
}

.requestTable tbody {
font-family: sans-serif;
}

.requestTable td {
padding: 12px 15px;
}


.requestTable tbody tr:nth-of-type(even) {
background-color: rgb(180, 180, 240);
color:  rgb(0, 0, 95);
}

.requestTable tbody tr:nth-of-type(odd) {
background-color:rgb(76, 76, 109);
color:  rgb(180, 180, 240);
}

/* .poButtons {
  text-align: center;
} */

.void {
  background-color: red;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(180, 180, 240);
  border:2px solid rgb(180, 180, 240);
  font-weight: bold;
}

.void:hover {
  background-color: white;
  font-weight: bold;
  border:2px solid rgb(0, 0, 95);
  color: rgb(0, 0, 95);
}

.voidButton {
  text-align: center;
  margin: 10px;
}

.voided {
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 10px;

}

.signBy {
color: rgb(180, 180, 240);
/* font-weight: bold; */
}

.sigImg {
background-color: rgb(180, 180, 240);
border-radius: 10px;
}

#closeREQ {
  text-align: right;
}

.closeREQ {
  cursor: pointer;
}
