.items-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

button.requests {
    text-align: right;
    margin-left: 50px;
}
