body {
    background-color: rgb(1, 1, 34);
}

.items-table-admin {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}


#requestForm,#poForm, #itemForm, #supplierForm {
    border-radius: 15px 0 0 0;
    cursor: pointer;
    width: 125px;
    background-color: rgb(180, 180, 240);
    border: 1px solid white;
}

#requestForm:hover, #poForm:hover, #itemForm:hover, #supplierForm:hover {
    background-color:white;
}

.POs, .requests, .suppliers {
   border-radius: 15px 0 0 0;
   cursor: pointer;
    width: 125px;
    border: 1px solid rgb(180, 180, 240);

}

.POs:hover, .requests:hover, .suppliers:hover {
  background-color: orange;
 }

#POs, #requests, #suppliers {
    text-decoration: none;
   font-weight: bold;
}

.items-table-admin thead tr.labels {
    background-color: rgb(0, 0, 95);
    color: rgb(180, 180, 240);
    font-family: sans-serif;
}

.items-table-admin tbody {
    font-family: sans-serif;
}

.items-table-admin td {
    padding: 12px 15px;
}

.items-table-admin td.header {
    padding: 1px 1px;;
}

.items-table-admin tbody tr:nth-of-type(even) {
    background-color: rgb(180, 180, 240);
    color:  rgb(0, 0, 95);
}

.items-table-admin tbody tr:nth-of-type(odd) {
    background-color:rgb(76, 76, 109);
    color:  rgb(180, 180, 240);
}

.items-table-admin thead tr td.header {
    background-color: rgb(1, 1, 46);
}

.items-table-admin tbody tr:hover {
    background-color: white;
    color: black;
}

.delete {
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.delete:hover {
    /* background-color: red; */
    text-shadow: red 2px 2px;
    border-radius: 20px;
    width: 15px;
    height: 15px;
}

.edit {
    cursor: pointer;
}

.edit:hover {
    /* background-color: rgb(180, 180, 240); */
    text-shadow: blue 2px 2px;
    border-radius: 20px;
}

.addsupplier {
    cursor: pointer;
    font-weight: bold;
}

.addsupplier:hover {
    /* background-color: blue; */
    text-shadow: blue 2px 2px;
    border-radius: 20px;
    width: 15px;
    height: 15px;
}

.supList {
    cursor: pointer;
    font-weight: bold;
}

.supList:hover {
    /* background-color: orange; */
    text-shadow: orange 2px 2px;
    border-radius: 20px;
    width: 15px;
    height: 15px;
}

#page {
    color: white;
}

#previous, #next {
    color: orange;
    cursor: pointer;
    width: 100px;
    background-color: rgb(1, 1, 34);
    border: none;
}

#previous {
    margin-right: 10px;
}

#next {
    margin-left: 10px;
}

#pagination {
    text-align: center;
}

/* Search Query */

.search {
    text-align: center;
    margin-top: 10px;
}

#search {
    width: 300px;
    height: 20px;
    border-radius: 5px;
}

#filter {
    color: white;
    text-align: center;
    margin-top: 10px;
}

#isSearching {
    text-align: center;
    color: white;
    font-weight: bold;
}
